CONFIG_ESP_AI_AGENT_WIFI_SSID="YOUR_WIFI_SSID"
CONFIG_ESP_AI_AGENT_WIFI_PASSWORD="YOUR_WIFI_PASSWORD"
CONFIG_ESP_AI_AGENT_CHAT_URL="http://192.168.1.100:8000/chat"
CONFIG_ESP_AI_AGENT_WIFI_MAXIMUM_RETRY=8
CONFIG_ESP_AI_AGENT_HTTP_TIMEOUT_MS=120000
CONFIG_ESP_AI_AGENT_HTTP_RESPONSE_MAX_BYTES=32768
CONFIG_ESP_AI_AGENT_VOICE_RESPONSE_MAX_BYTES=4096
CONFIG_ESP_AI_AGENT_INPUT_MAX_BYTES=512
CONFIG_ESP_AI_AGENT_CHAT_TASK_STACK_BYTES=8192
CONFIG_ESP_AI_AGENT_ENABLE_SPEAKER=y
CONFIG_ESP_AI_AGENT_AUDIO_SAMPLE_RATE=22050
CONFIG_ESP_AI_AGENT_SPK_BCLK_GPIO=4
CONFIG_ESP_AI_AGENT_SPK_WS_GPIO=5
CONFIG_ESP_AI_AGENT_SPK_DOUT_GPIO=6
CONFIG_ESP_AI_AGENT_ENABLE_MICROPHONE=y
CONFIG_ESP_AI_AGENT_MIC_BCLK_GPIO=7
CONFIG_ESP_AI_AGENT_MIC_SAMPLE_RATE=16000
CONFIG_ESP_AI_AGENT_MIC_WS_GPIO=15
CONFIG_ESP_AI_AGENT_MIC_DIN_GPIO=16
CONFIG_ESP_AI_AGENT_MIC_SAMPLE_SHIFT=13
CONFIG_ESP_AI_AGENT_ENABLE_STATUS_LED=y
CONFIG_ESP_AI_AGENT_STATUS_LED_GPIO=48
CONFIG_ESP_AI_AGENT_STATUS_LED_BRIGHTNESS=32
CONFIG_ESP_AI_AGENT_ENABLE_PUSH_TO_TALK=y
CONFIG_ESP_AI_AGENT_PTT_BUTTON_GPIO=18
CONFIG_ESP_AI_AGENT_PTT_MAX_RECORD_SECONDS=8
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096
CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096
CONFIG_LWIP_TCPIP_TASK_STACK_SIZE=4096
